<html>

<head>
    <title>Variables de entrada</title>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css/"/>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css/"/>
    <link href="static/css/bootstrap-theme.css" rel="stylesheet" type="text/css/"/>
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css/"/>
</head>

<body>
    <div class="container">
        <h1>Predicción de reacciones adversas</h1>

        <form method="POST">
            <div class="col-lg-5">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td class="col-md-4">
                                <label>Numero de bolsas</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Sexo</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Edad</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Peso</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Diagnostico</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Servicio</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Hemoglobina</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Hematocrito</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>GS Receptor</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-5">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td class="col-md-4">
                                <label>GS Donante</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>HIV</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>HB</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Anti-HB</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Anti-HCV</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>HTLV</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Sifilis</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <label>Chagas</label>
                            </td>
                            <td class="col-md-4">
                                <input size="20" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-5">
                <input type="hidden" name="modo"/>
                <input type="submit" class="btn btn-primary" value="Aceptar"/>
            </div>
        </form>
    </div>
</body>

</html>