<html>
    <head>
        <title>Resultado</title>
    </head>
    <body>
        <h1>Resultados</h1>
        <p>Se usaron {{bolsas}} bolsas de sangre</p>
        <p>El paciente es de sexo {{sexo}}</p>
        <p>{{edad}} es la edad del paciente</p>
        <p>El paciente tiene como diagnostico {{diagnostico}}</p>
        <p>El servicio es {{servicio}}</p>
        <p>La hemoglobina tiene {{hemoglobina}}</p>
        <p>El hematocrito tiene {{hematocrito}}</p>
        <p>El GS del receptor es {{gsreceptor}}</p>
        <p>El GS del donante es {{gsdonante}}</p>
        <p>El resultado del HIV es de {{hiv}}</p>
        <p>El resultado del HB es de {{hb}}</p>
        <p>El resultado del Anti-HB es de {{antihb}}</p>
        <p>El resultado del Anti-HCV es de {{antihcv}}</p>
        <p>El resultado del HTLV es de {{htlv}}</p>
        <p>El resultado del Sifilis es de {{sifilis}}</p>
        <p>El resultado del Chagas es de {{chagas}}</p>
    </body>
</html>