<html>
    <head>
        <title>Resultado</title>
    </head>
    <body>
        <h1>Resultados</h1>
        <p>Existe un 50% de padecer fiebre</p>
        <p>Existe un 20% de padecer cianosis</p>
        <p>Existe un 0% de padecer urticaria</p>
        <p>Existe un 0% de padecer hemoglobinura</p>
        <p>Existe un 0% de padecer edema facial</p>
        <p>Existe un 40% de padecer nauseas</p>
        <p>Existe un 0% de padecer dolor lumbar</p>
        <p>Existe un 70% de padecer dolor toraxico</p>
        <p>Existe un 0% de padecer prurito</p>
        <p>Existe un 80% de padecer escalofrios</p>
    </body>
</html>